<div class="form">
  <div class="form-header">
    <% if !@user.role_id %>
      <h1 class="page-title">นักศึกษา</h1>
    <% elsif @user.role.name == 'อาจารย์' || @user.role.name == 'ผู้ดูแลระบบ' || @user.role.name == 'ผู้ประสารงาน'%>
      <h1 class="page-title">แก้ไขข้อมูลอาจารย์</h1>
    <% else %>
      <h1 class="page-title">แก้ไขข้อมูลนักศึกษา</h1>
    <% end %>
  </div>

    <%= form_with(model: @user, url: user_path, method: :patch, local: true) do |f| %>
     <div class="form-group">
      <%= f.label :name, "ชื่อ-นามสกุล" %>
      <%= f.text_field :name, class: "form-control" %>
      <% if @user.errors[:name].any? %>
        <div class="text-red-500 text-sm mt-1">
            <%= @user.errors[:name].first %>
        </div>
        <% end %>
    </div>
    <div class="form-group">
      <%= f.label :email, "อีเมล" %>
        <%= f.text_field :email, class: "form-control", readonly: true %>
    </div>
    <% if @user.errors[:email].any? %>
        <div class="text-red-500 text-sm mt-1">
            <%= @user.errors[:email].first %>
        </div>
    <% end %>

   <% if @user.role&.name.in?(['อาจารย์', 'ผู้ดูแลระบบ', 'ผู้ประสารงาน']) %>
    <div class="form-group">
      <%= f.label :expertise, "เชี่ยวชาญ" %>
      <%= f.text_area :expertise, class: "form-control" %>
      <% if @user.errors[:expertise].any? %>
        <div class="text-red-500 text-sm mt-1">
            <%= @user.errors[:expertise].first %>
        </div>
        <% end %>
    </div>
    <% else %>
    <div class="form-group">
      <%= f.label :student_id, "รหัศรหัสนักศึกษา" %>
      <%= f.text_field :student_id, class: "form-control" %>
      <% if @user.errors[:student_id].any? %>
        <div class="text-red-500 text-sm mt-1">
            <%= @user.errors[:student_id].first %>
        </div>
        <% end %>
    </div>
    <% end %>
    <% if !@user.role_id %>
      <%= f.hidden_field :role_id, value: Role.find_by(name: "นักศึกษา")&.id %>
    <% end%>
    </div>
     <div class="form-actions">
      <%= f.submit "เสร็จสิ้น", class: "btn-create" %>
    </div>
    <% end %>
</div>
