<div class="topbar">
  <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
</div>
<aside class="sidebar" id="sidebar">
  <div class="sidebar-container">
    <div class="logo-container">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", class: "logo" %><%= image_tag "title.svg", class: "title" %>
      <% end %>
    </div>

    <% if current_user.present? %>
      <% role_name = current_user.role&.name %>
      <% perm_service = PermissionService.new(current_user) %>
      <% current_path = request.path %>
      <nav class="nav-menu">
        <ul>
        <% if ["ผู้ดูแลระบบ", "ผู้ประสารงาน", "อาจารย์","นักศึกษา"].include?(role_name) %>
            <li class="nav-item has-submenu <%= 'open active' if current_path.start_with?('/news') %>">
              <button type="button" class="nav-link submenu-toggle">
                <%= image_tag "news.svg", class: "icon" %>
                <span>ข่าวสาร</span>
                <svg class="chevron" xmlns="http://www.w3.org/2000/svg" class="icon" width="12" height="12" viewBox="0 0 320 512"><path fill="currentColor" d="M96 96l128 128-128 128z"/></svg>
              </button>
              <ul class="submenu">
                <li><%= link_to "ข่าวสารทั้งหมด", "/news/index", class: "nav-link #{'active' if current_path == '/news/index'}" %></li>
                <% if ["ผู้ดูแลระบบ", "ผู้ประสารงาน", "อาจารย์"].include?(role_name) %>
                  <li><%= link_to "สร้างข่าวสาร", "/news/new", class: "nav-link #{'active' if current_path == '/news/new'}" %></li>
                <% end %>
              </ul>
            </li>
          <% end %>

        <% if ["ผู้ดูแลระบบ", "ผู้ประสารงาน", "อาจารย์","นักศึกษา"].include?(role_name) %>
            <li class="nav-item has-submenu <%= 'open active' if current_path.start_with?('/advisors') %>">
              <button type="button" class="nav-link submenu-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="25" viewBox="0 0 640 512"><path d="M192 96a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm-8 384l0-128 16 0 0 128c0 17.7 14.3 32 32 32s32-14.3 32-32l0-288 56 0 64 0 16 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-16 0 0-64 192 0 0 192-192 0 0-32-64 0 0 48c0 26.5 21.5 48 48 48l224 0c26.5 0 48-21.5 48-48l0-224c0-26.5-21.5-48-48-48L368 0c-26.5 0-48 21.5-48 48l0 80-76.9 0-65.9 0c-33.7 0-64.9 17.7-82.3 46.6l-58.3 97c-9.1 15.1-4.2 34.8 10.9 43.9s34.8 4.2 43.9-10.9L120 256.9 120 480c0 17.7 14.3 32 32 32s32-14.3 32-32z"/></svg>
                <span>อาจารย์ที่ปรึกษา</span>
                <svg class="chevron" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 320 512"><path fill="currentColor" d="M96 96l128 128-128 128z"/></svg>
              </button>
              <ul class="submenu">
                <% if ["ผู้ดูแลระบบ", "ผู้ประสารงาน", "อาจารย์","นักศึกษา"].include?(role_name) %>
                  <li><%= link_to "ดูทั้งหมด", "/advisors/index", class: "nav-link #{'active' if current_path == '/advisors/index'}" %></li>
                <% end %>
                <% if ["ผู้ดูแลระบบ", "ผู้ประสารงาน", "อาจารย์"].include?(role_name) %>
                  <li><%= link_to "สมาชิก", "/advisors/detail_group", class: "nav-link #{'active' if current_path == '/advisors/detail_group'}" %></li>
                <% if ["ผู้ดูแลระบบ"].include?(role_name) %>
                    <li><%= link_to "สร้างกลุ่ม", "/advisors/new", class: "nav-link #{'active' if current_path == '/advisors/new'}" %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          <% end %>

          <% if ["ผู้ดูแลระบบ", "ผู้ประสารงาน", "อาจารย์","นักศึกษา"].include?(role_name) %>
            <li class="nav-item <%= 'active' if current_path == '/reports/index' %>">
              <%= link_to "/reports/index", class: "nav-link" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="17.5" viewBox="0 0 448 512"><path d="M384 336l-192 0c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l140.1 0L400 115.9 400 320c0 8.8-7.2 16-16 16zM192 384l192 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1L192 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l192 0c35.3 0 64-28.7 64-64l0-32-48 0 0 32c0 8.8-7.2 16-16 16L64 464c-8.8 0-16-7.2-16-16l0-256c0-8.8 7.2-16 16-16l32 0 0-48-32 0z"/></svg>
                <span>รูปแบบรายงาน</span>
              <% end %>
            </li>
          <% end %>

        <% if ["ผู้ดูแลระบบ", "ผู้ประสารงาน", "อาจารย์"].include?(role_name) %>
            <li class="nav-item <%= 'active' if current_path == '/students/index' %>">
              <%= link_to "/students/index", class: "nav-link" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M160 368c26.5 0 48 21.5 48 48l0 16 72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6L448 368c8.8 0 16-7.2 16-16l0-288c0-8.8-7.2-16-16-16L64 48c-8.8 0-16 7.2-16 16l0 288c0 8.8 7.2 16 16 16l96 0zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3l0-21.3 0-6.4 0-.3 0-4 0-48-48 0-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L448 0c35.3 0 64 28.7 64 64l0 288c0 35.3-28.7 64-64 64l-138.7 0L208 492z"/></svg>                
              <span>คำร้องจากนักศึกษา</span>
              <% end %>
            </li>
          <% end %>
        <% if ["ผู้ดูแลระบบ", "ผู้ประสารงาน", "อาจารย์"].include?(role_name) %>
            <li class="nav-item <%= 'active' if current_path == '/students/my_student_group' %>">
              <%= link_to "/students/my_student_group", class: "nav-link" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M160 368c26.5 0 48 21.5 48 48l0 16 72.5-54.4c8.3-6.2 18.4-9.6 28.8-9.6L448 368c8.8 0 16-7.2 16-16l0-288c0-8.8-7.2-16-16-16L64 48c-8.8 0-16 7.2-16 16l0 288c0 8.8 7.2 16 16 16l96 0zm48 124l-.2 .2-5.1 3.8-17.1 12.8c-4.8 3.6-11.3 4.2-16.8 1.5s-8.8-8.2-8.8-14.3l0-21.3 0-6.4 0-.3 0-4 0-48-48 0-48 0c-35.3 0-64-28.7-64-64L0 64C0 28.7 28.7 0 64 0L448 0c35.3 0 64 28.7 64 64l0 288c0 35.3-28.7 64-64 64l-138.7 0L208 492z"/></svg>                
              <span>รายชื่อนักศึกษาที่ดูแล</span>
              <% end %>
            </li>
          <% end %>
        <% if ["ผู้ดูแลระบบ", "ผู้ประสารงาน", "อาจารย์","นักศึกษา"].include?(role_name) %>
            <li class="nav-item <%= 'active' if current_path.start_with?('/roles') %>">
              <%= link_to "/roles", class: "nav-link" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M352 320c88.4 0 160-71.6 160-160c0-15.3-2.2-30.1-6.2-44.2c-3.1-10.8-16.4-13.2-24.3-5.3l-76.8 76.8c-3 3-7.1 4.7-11.3 4.7L336 192c-8.8 0-16-7.2-16-16l0-57.4c0-4.2 1.7-8.3 4.7-11.3l76.8-76.8c7.9-7.9 5.4-21.2-5.3-24.3C382.1 2.2 367.3 0 352 0C263.6 0 192 71.6 192 160c0 19.1 3.4 37.5 9.5 54.5L19.9 396.1C7.2 408.8 0 426.1 0 444.1C0 481.6 30.4 512 67.9 512c18 0 35.3-7.2 48-19.9L297.5 310.5c17 6.2 35.4 9.5 54.5 9.5zM80 408a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
                <span>บทบาท</span>
              <% end %>
            </li>
          <% end %>

        <% if ["ผู้ดูแลระบบ"].include?(role_name) %>
            <li class="nav-item <%= 'active' if current_path.start_with?('/seasons') %>">
              <%= link_to "/seasons", class: "nav-link" do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon"height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M75 75L41 41C25.9 25.9 0 36.6 0 57.9L0 168c0 13.3 10.7 24 24 24l110.1 0c21.4 0 32.1-25.9 17-41l-30.8-30.8C155 85.5 203 64 256 64c106 0 192 86 192 192s-86 192-192 192c-40.8 0-78.6-12.7-109.7-34.4c-14.5-10.1-34.4-6.6-44.6 7.9s-6.6 34.4 7.9 44.6C151.2 495 201.7 512 256 512c141.4 0 256-114.6 256-256S397.4 0 256 0C185.3 0 121.3 28.7 75 75zm181 53c-13.3 0-24 10.7-24 24l0 104c0 6.4 2.5 12.5 7 17l72 72c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-65-65 0-94.1c0-13.3-10.7-24-24-24z"/></svg>                
              <span>รอบโปรเจค</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div class="user-profile">
      <div class="user-info">
        <p class="user-name"><%= current_user.name %></p>
        <p class="user-role"><%= current_user.role&.name || "-" %></p>
      </div>
      <%= link_to "↗", destroy_user_session_path, method: :delete, class: "profile-link" %>
    </div>
  <% end %>
</aside>

<script>
  function toggleSidebar() {
    const sidebar = document.getElementById("sidebar");
    sidebar.classList.toggle("open");
  }

  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".submenu-toggle").forEach(button => {
      button.addEventListener("click", () => {
        const parent = button.closest(".has-submenu");
        parent.classList.toggle("open");
      });
    });
  });
</script>
