<div class="login-wrapper">
  <div class="login-container">
    
    <!-- Left illustration -->
    <div class="login-illustration">
    <%= image_tag "logo.svg", class: "login-logo" %>
    </div>

    <!-- Right form -->
    <div class="login-form">
      <h2 class="login-title">Welcome Back :)</h2>

      <% if current_user %>
        <h3><%= current_user.email %></h3>
        <h3><%= current_user.name %></h3>
        <h3><%= current_user.student_id %></h3>

        <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-primary" %><br>
        <%= link_to "ออกจากระบบ", destroy_user_session_path, method: :delete, class: "btn btn-secondary" %>
      <% else %>
      <p class="login-subtext">Please login with your email and password</p>
        <div class="auth-links">
          <%
=begin%>
 <%= button_to "Sign in with SU", user_azure_oauth2_omniauth_authorize_path,method: :post, class: "btn btn-primary" %> 
<%
=end%>
          <%= button_to "Sign in with SU", class: "btn btn-primary" %> 
        </div>
      <% end %>
    </div>

  </div>
</div>
