<%= form_with(model: @advisor_group, url: advisor_update_path(@advisor_group), method: :patch) do |f| %>
    <div>
        <%= f.label :group_name %>
        <%= f.text_field :group_name %>
    </div>
    
     <h2>Users</h2>
        <% User.all.each do |user| %>
            <p>
            <%= check_box_tag 'user_ids[]', user.id, @advisor_group_members&.include?(user.id) %> <%= user.name %>
            </p>
        <% end %>
    <div>
        <%= f.submit 'update user' %>
    </div>
<% end %>