<!-- app/views/advisors/index.html.erb -->
<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">อาจารย์ที่ปรึกษาโครงการ</h1>
  
  <div class="flex justify-between mb-6">
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
        </svg>
      </div>
      <input type="text" placeholder="Search" class="pl-10 pr-4 py-2 border rounded-md w-80 focus:outline-none focus:ring-2 focus:ring-blue-300">
    </div>
    <%= button("Filters", type: :secondary, icon: raw(
      '<svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" 
        stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 
        01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
      </svg>')) 
    %>


  </div>
  
  <div class="overflow-x-auto">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-100 text-gray-600 text-sm">
        <tr class="bg-[F3F6F9]">
          <th class="px-6 py-3 text-left">อาจารย์ที่ปรึกษา</th>
          <th class="px-6 py-3 text-left">สาขาที่เชี่ยวชาญ</th>
          <th class="px-6 py-3 text-left">อีเมลล์</th>
          <th class="px-6 py-3 text-left">สถานะ:นิสิต</th>
          <th class="px-6 py-3 text-center">แนบอาจารย์</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @advisors.each do |advisor| %>
          <tr class="hover:bg-gray-50">
            <td class="px-6 py-4">
              <div class="flex items-center">
                <div class="h-12 w-12 rounded-full bg-gray-300 flex-shrink-0 mr-4">
                  <!-- Profile picture would go here -->
                </div>
                <div>
                  <div class="font-semibold"><%= advisor[:name] %></div>
                  <div class="text-gray-500 text-sm"><%= advisor[:position] %></div>
                </div>
              </div>
            </td>
            <td class="px-6 py-4">
              <div><%= advisor[:specialty] %></div>
            </td>
            <td class="px-6 py-4">
              <div><%= advisor[:email] %></div>
              <% if advisor[:alternate_email].present? %>
                <div class="text-gray-500 text-sm"><%= advisor[:alternate_email] %></div>
              <% else %>
                <div class="text-gray-500 text-sm">-</div>
              <% end %>
            </td>
            <td class="px-6 py-4">
              <div class="flex items-center">
                <% if advisor[:current_students] <= 6 %>
                  <% displayed_count = advisor[:current_students] %>
                  <% displayed_count.times do |i| %>
                    <span class="flex items-center justify-center mr-1">
                      <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 448 512">
                        <path fill="#464e5f" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
                      </svg>
                    </span>
                  <% end %>
                  
                  <% displayed_count_max = 6 - advisor[:current_students] %>
                  <% displayed_count_max.times do |i| %>
                    <span class="flex items-center justify-center mr-1">
                      <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 448 512">
                        <path fill="#464e5f" d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z"/>
                      </svg>
                    </span>
                  <% end %>
                <% else %>
                  <% displayed_count = 6 %>
                  <% displayed_count.times do |i| %>
                    <span class="flex items-center justify-center mr-1">
                      <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 448 512">
                        <path fill="#464e5f" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/>
                      </svg>
                    </span>
                  <% end %>
                <% end %>
              </div>
              <div class="text-gray-500 text-sm mt-2">
                เหลืออีก <%= advisor[:max_students] - advisor[:current_students] %> ที่ (<%= advisor[:current_students] %>/<%= advisor[:max_students] %>)
              </div>
            </td>
            <td class="px-6 py-4 flex justify-center text-center">
              <%= button("เลือก", type: :primary) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <% if @advisors.total_pages > 1 %>
    <div class="mt-6 flex justify-between items-center">
      <div class="text-sm text-gray-500">
        Showing <%= @advisors.offset_value + 1 %> to <%= [@advisors.offset_value + @advisors.length, @advisors.total_count].min %> of <%= @advisors.total_count %> advisors
      </div>
      
      <nav class="inline-flex items-center rounded-md shadow">
        <%= link_to url_for(page: @advisors.prev_page), class: "px-3 py-2 border rounded-l-md bg-white text-gray-500 hover:bg-gray-50 #{@advisors.first_page? ? 'opacity-50 cursor-not-allowed' : ''}", disabled: @advisors.first_page? do %>
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
          </svg>
        <% end %>

        <span class="px-4 py-2 text-gray-700">
          Page <%= @advisors.current_page %> of <%= @advisors.total_pages %>
        </span>

        <%= link_to url_for(page: @advisors.next_page), class: "px-3 py-2 border rounded-r-md bg-white text-gray-500 hover:bg-gray-50 #{@advisors.last_page? ? 'opacity-50 cursor-not-allowed' : ''}", disabled: @advisors.last_page? do %>
          <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
          </svg>
        <% end %>
      </nav>
    </div>
  <% end %>
</div>