<%= form_with(model: @advisor_group, url: advisors_create_path, method: :post, html: { class: "form" }) do |f| %>
  <div class="form-group">
    <%= f.label :group_name, "ชื่อกลุ่ม", class: "form-label" %>
    <%= f.text_field :group_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <h2 class="section-title">เลือกอาจารย์ในกลุ่ม</h2>
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>เลือก</th>
            <th>ชื่ออาจารย์</th>
            <th>Email</th>
            <th>สร้างเมื่อ</th>
          </tr>
        </thead>
        <tbody>
          <% User.where(role_id: Role.find_by(name: ["อาจารย์", "ผู้ประสารงาน","ผู้ดูแลระบบ"])&.id).each do |user| %>
            <tr>
              <td>
                <%= check_box_tag 'user_ids[]', user.id, false, id: "user_#{user.id}" %>
              </td>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.created_at.strftime("%d/%m/%Y %H:%M") %></td>
            </tr>
          <% end %>
         
        </tbody>
      </table>
       <% if current_user.role.name == "ผู้ดูแลระบบ" %>
            <div class="form-group">
              <%= label_tag :owner_id, "เลือกเจ้าของกลุ่ม (Owner)", class: "form-label" %>
              <%= select_tag :owner_id,
                    options_from_collection_for_select(User.where(role_id: Role.find_by(name: "ผู้ประสารงาน")&.id), :id, :name),
                    prompt: "เลือกอาจารย์ที่เป็นผู้ประสารงานของกลุ่ม",
                    class: "form-control" %>
            </div>
          <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'สร้างกลุ่ม', class: "btn-create" %>
  </div>
<% end %>
